body {
  margin: 0;
  text-align: center;
  background-image: url(./image/fundo.jpg);
}

#title {
  color: rgb(226, 55, 43);
}

.color {
  display: inline-block;
  border: 1px solid black;
  padding: 25px;
  margin: 15px 5px;
  transition: 0.5s;
}

#pixel-board {
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 0 1px;
}

.color:hover {
  cursor: pointer;
  border-radius: 25%;
}

#clear-board {
  margin: 10px;
}
